/* оформление для меню */
.menu {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4a4848;
    overflow-x: hidden;
}

.menu a {
    padding: 18px 8px 18px 16px;
	border-right:8px solid #d4d4d4;
    text-decoration: none;
    font-size: 28px;
    color: #d4d4d4;
    display: block;
}

.menubutton {
    border-bottom:1px solid black;
}

.menu a:hover {
    color: #00BFFF;
	border-right:8px solid #00BFFF;
}
/* оформление для главной части страницы */
.main {
    margin-left: 140px; /* отступ от меню */
    margin-top: 36px; /* отступ от заголовка */
    font-size: 28px;
    padding: 0px 10px;
}
/* оформление для видео */
video {
    width: 948px;
    border: 1px solid grey;
}
/* оформление для заголовка */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: #4a4848;
    border-bottom:4px solid #d4d4d4;
}

.header div {
    margin-left: 150px;
    font-size: 24px;
    color: #d4d4d4;
}
/* для модального окна */
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(102, 102, 102, 0.5);
    z-index: 99999;
    display: none;
}

.modalDialog h2 {
    margin-top: 15px;
    margin-bottom: -15px;
}

.modalDialog h3 {
    margin-top: 15px;
    margin-bottom: -15px;
}

.modalDialog h4 {
    margin-top: 15px;
    margin-bottom: -15px;
}

.modalDialog div {
    width: 850px;
    position: relative;
    max-height: 750px;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    font-size: 22px;
    padding: 5px 25px 15px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	top: -10px;
	width: 27px;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {background: #00d9ff;}